.cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main {
  display: flex;
}
.main div {
  width: 100px;
  height: 100px;
  background-color: rgb(167, 163, 158);
  margin: 10px;
}
h3 {
  color: white;
  text-align: center;
}
.text {
  font-weight: bold;
  font-size: 30px;
  color: lightgreen;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.tag {
  text-align: center;
  display: block;
  font-weight: bold;
  color: white;
}
