.main{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
   box-shadow: 0px 0px 4px #7A7A7A;
}
p{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    border: 2px solid blue;
    padding: 5px 10px;
    margin: 5px;
    color: blue;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
    color: white;
}